:root {
  --textos_botones_arriba: rgb(66, 76, 87);
  --botones_arriba_fondo: rgb(234, 227, 219);
  --sombra_botones_arriba_fondo: rgba(234, 227, 219, 50%);
  --cuadro_fondo: rgb(37, 45, 68);
  --fondo_botones_arriba_del: rgb(100, 114, 153);
  --sombra_botones_arriba_del: rgb(100, 114, 153, 50%);
  --texto_botones_arriba_del: white;
  --fondo_botones_arriba_del_active: rgb(131, 148, 195);
  --sombra_botones_arriba_del_active: rgb(100, 114, 153, 50%);
  --fondo_botones_arriba_active: rgb(255, 255, 255);
  --fondo-igual: rgb(209, 63, 48);
  --texto-igual: white;
  --sombra-igual: rgb(209, 63, 48, 50%);
  --fondo-igual-active: rgb(255, 29, 4);
  --sombra-igual-active: rgb(255, 29, 4, 50%);
  --pantalla-fondo: rgb(23, 31, 50);
  --pantalla-texto: white;
  --slider-fondo: rgb(37, 45, 68);
  --slider-bola-fondo: rgb(219, 84, 69);
  --slider-bola-fondo-hover: rgb(243, 95, 79);
  --fondo_selector_tema: white;
}


.botones_principales {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  height: 230px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;

}

.botones-abajo {
  display: grid;

}

.cuadro {
  background-color: var(--cuadro_fondo);
  border-radius: 5px;
  width: 100%;
  padding: 25px 25px 25px 25px;

}

.botones-arriba {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--botones_arriba_fondo);
  color: var(--textos_botones_arriba);
  box-shadow: 0px 3px 0px var(--sombra_botones_arriba_fondo);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  font-size: 2rem;
  font-family: "League Spartan", sans-serif;
}

.botones-arriba-del {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--fondo_botones_arriba_del);
  box-shadow: 0px 3px 0px var(--sombra_botones_arriba_del);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  color: var(--texto_botones_arriba_del);
  font-weight: bold;
  font-size: 2rem;
  font-family: "League Spartan", sans-serif;
  transition: box-shadow, background-color 0.15s;

}

.botones-arriba-del:active {
  background-color: var(--fondo_botones_arriba_del_active);
  box-shadow: 0px 3px 0px var(--sombra_botones_arriba_del_active);
}

.botones-arriba:active {
  background-color: var(--fondo_botones_arriba_active);
}

.botones-abajo {
  margin-top: 20px;
  height: 40px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
}

#RESET {
  background-color: var(--fondo_botones_arriba_del);
  box-shadow: 0px 3px 0px var(--sombra_botones_arriba_del);
  color: var(--texto_botones_arriba_del);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.25rem;
  font-family: "League Spartan", sans-serif;

}

#igual {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--fondo-igual);
  color: var(--texto-igual);
  box-shadow: 0px 3px 0px var(--sombra-igual);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
  font-family: "League Spartan", sans-serif;

}

#igual:active {
  background-color: var(--fondo-igual-active);
  box-shadow: 0px 3px 0px var(--sombra-igual-active);
}

#RESET:active {
  background-color: var(--fondo_botones_arriba_del_active);
  box-shadow: 0px 3px 0px var(--sombra_botones_arriba_del_active);
}

.pantalla {
  background-color: var(--pantalla-fondo);
  border: none;
  width: 109%;
  border-radius: 7px;
  height: 5rem;
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
  color: var(--pantalla-texto);
  font-weight: bold;
  font-size: 2rem;
  font-family: "League Spartan", sans-serif;
}



/*toggle 3 entradas*/
.contenedor {
  display: grid;
  margin-top: 20px;

}

.selector2 {
  -webkit-appearance: none;
  appearance: none;
  background: var(--slider-fondo);
  padding: 3px;
  cursor: pointer;
  border-radius: 30px;
  width: 35px;
  height: 10px;
  margin-bottom: 20px;
}

.selector2::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  /* Ajusta el ancho del pulgar */
  height: 10px;
  /* Ajusta la altura del pulgar */
  background: var(--slider-bola-fondo);
  /* Color del pulgar */
  border-radius: 50%;
  /* Hace que el pulgar sea redondo */
  cursor: pointer;
}

.selector2::-webkit-slider-thumb:hover {
  background: var(--slider-bola-fondo-hover);
}

/*
contenedor-selector
*/

.contenedor-selector {
  width: 114%;
  display: flex;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  font-family: "League Spartan", sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
  color: var(--fondo_selector_tema);
}

.theme {
  flex: 1;
  /* Hace que los párrafos ocupen todo el espacio disponible */
  text-align: center;
  /* Centra el texto horizontalmente */
  margin-bottom: 16px;
}

#cal {
  margin-right: 70%;
  margin-bottom: 10px;
}

#theme {
  margin-right: 1px;
  margin-top: 26px;
  font-size: 0.6rem;
}

.selector3 {
  margin: 0px;
  font-size: 0.5rem;
  letter-spacing: 4px;
  margin-left: 3px;
}

.calculadora {
  width: 100%;
}