
.botones_principales{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 300px;
  height: 230px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  
}
.botones-abajo{
  display: grid;
      
}
.cuadro{
  background-color: rgb(37, 45, 68);    
  border-radius: 5px;
  width: 300x;
  padding: 25px 25px 25px 25px;

}
.botones-arriba{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rgb(234, 227, 219);
  color: rgb(66, 76, 87);
  box-shadow: 0px 3px 0px rgba(234, 227, 219,50%);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  font-size: 28px;
  font-family: "League Spartan", sans-serif;
}
.botones-arriba-del{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(100, 114, 153);
  color: white;
  box-shadow: 0px 3px 0px rgb(100, 114, 153,50%);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 23px;
  font-family: "League Spartan", sans-serif;
  transition: box-shadow,background-color 0.15s;

}
.botones-arriba-del:active{
  background-color: rgb(131, 148, 195);
  box-shadow: 0px 3px 0px rgb(100, 114, 153,50%);
}
.botones-arriba:active{
  background-color: rgb(255, 255, 255);
}

.botones-abajo{
  margin-top: 20px;
  height: 40px;
  width: 300px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
}

#RESET{
  background-color: rgb(100, 114, 153);
  color: white;
  box-shadow: 0px 3px 0px rgba(100, 114, 153,50%);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
  font-family: "League Spartan", sans-serif;

}
#igual{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rgb(209, 63, 48);
  color: white;
  box-shadow: 0px 3px 0px rgb(209, 63, 48,50%);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
  font-family: "League Spartan", sans-serif;

}
#igual:active{
  background-color:rgb(255, 29, 4);
  box-shadow: 0px 3px 0px rgb(255, 29, 4,50%);
  
}
#RESET:active{
  background-color: rgb(131, 148, 195);
  box-shadow: 0px 3px 0px rgb(131, 148, 195,50%);
}

.pantalla{
  background-color:rgb(23, 31, 50);
  border: none;
  border-radius: 7px;
  height: 75px;
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right:20px ;
  color: white;
  font-weight: bold;
  font-size: 35px;
  font-family: "League Spartan", sans-serif;
}



/*toggle 3 entradas*/
.contenedor {
  display: grid;
  margin-top: 20px;

}

.selector2{
  -webkit-appearance: none;
  appearance: none;
  background:rgb(37, 45, 68);
  padding:3px;
  cursor:pointer;
  border-radius: 30px;
  width: 35px;
  height: 10px;
  margin-bottom: 20px;
}

.selector2::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px; /* Ajusta el ancho del pulgar */
  height: 10px; /* Ajusta la altura del pulgar */
  background: rgb(219, 84, 69); /* Color del pulgar */
  border-radius: 50%; /* Hace que el pulgar sea redondo */
  cursor: pointer;
}
.selector2::-webkit-slider-thumb:hover{
  background: rgb(243, 95, 79);
}

/*
contenedor-selector
*/

.contenedor-selector{
  width: 100%;
  display: flex;
  align-items: center; 
  grid-template-columns: repeat(3, 1fr);
  font-family: "League Spartan", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: white;
}

.theme{
  flex: 1; /* Hace que los párrafos ocupen todo el espacio disponible */
  text-align: center; /* Centra el texto horizontalmente */
  margin-bottom: 16px;
}

#cal{
  margin-right: 70%;
  margin-bottom: 10px;
}
#theme{
  margin-right: 1px;
  margin-top: 26px;
  font-size: 8px;
}

.selector3{
  margin: 0px;
  font-size: 8px;
  letter-spacing: 4px;
  margin-left: 3px;
}